body{
    margin: 0px;
    padding:0px;
    line-height: normal;
    background-color: white;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.cover{
    background-image: url(photo-1505740420928-5e560c06d30e.jpg);
    max-width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
 

.intro{
     max-width:30%;
     padding:250px 150px;
    }
    .intro p{
        font-size:14px;
    }
    .intro h1{
        font-size:45px;
        margin-top: 0px;
    }
    .intro button{
        padding:10px 30px;
        border-radius:20px;
    }


.section1{
    max-width:100%;
    padding:30px 150px;
    font-size:18px;
}




.section2{
    max-width: 100%;
    background-color:  rgb(255, 196, 0);
    padding:30px 150px;
    font-size:16px;
    text-align: center;
    color:white;
}
.section2 h2{
    margin:0px 0px;
}



.section3{
    max-width:100%;
    padding:30px 150px;
    font-size:18px;
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}


.box{
    margin: 30px auto;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.label{
    width:470px;
    background-color: rgb(255, 196, 0);
}
.label p{
    font-size: 10px;
    margin: 0px;
    Padding-left:5px;
    padding-bottom: 5px;
    color:white;
}
.label h5{
    font-size: 10px;
    padding-left:5px;
    padding-top:7px;
    margin-bottom: 7px;
}
.box button{
    width:fit-content;
    background-color: rgb(255, 196, 0);
    border-radius: 20px;
    font-size:10px;
    border:none;
    padding: 5px 10px;
    position: relative;
    top:70px;
    left:10px;
}


.section4{
    max-width:100%;
    padding:30px 150px;
    font-size:18px;
}

.wrapper img{
    width:350px;
    background-color: rgb(255, 196, 0);
    margin:10px 10px;
}
.wrapper {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}


.section5{
    max-width:100%;
    padding:30px 150px;
    background-color: rgb(255, 196, 0);
    font-size:18px;
}

.pack{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.left{
    color:white;
}
.left h5{
   margin:0px;
   font-size:22px;
}
.left p{
    margin-top:0px;
    font-size:16px;
}
.right button{
    padding:10px 30px;
    border-radius:20px;
}


.section6{
    max-width:100%;
    padding:30px 150px;
}
.up{
    text-align: center;
    font-size:18px;
}
.down{
    padding-bottom: 0px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap:1rem;
    text-align: center;
    justify-content: space-between;
}
.down h1{
    font-size:28px;
    font-weight:bolder;
    color: rgb(255, 196, 0);
}
.down p{
    font-size:13px;
    font-weight: bold;
    position: relative;
    bottom:50px;
}


/* Desktops */
@media(max-width:1280px){
    .intro{
        padding: 250px 80px;
    }
    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6{
        padding: 30px 80px;
    }
}


/* tablets and Under */
@media(max-width:768px){
    .intro{
        padding: 250px 40px;
    }
    .intro h1{
        font-size:33px;
    }
    .intro p{
        font-size:10px;
    }
    .cover{
        height:auto;
    }
    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6{
        padding: 30px 50px;
    }
    .pack{
        padding: 0px 20px;
    }
    .left h5{
       font-size:18px;
    }
    .left p{
        font-size:15px;
    }
}